/*
Orden de especificidad
Etiquetas y pseudoelementos 001
clases, atributos y pseudoclases 010
id 100
estilos en linea 1000
!important gana a todo Y NUNCA SE USA

para evitar problemas.. SIEMPRE USAR CLASES

*/
/* |||||||||||||||||||||||||||||||||||||||||||||| */

h1 {
   color: yellow;
}

/* los links no heredan los estilos de los elementos contenedores */
.text {
   color: red;
}

/* si queremos forzar la herencia se usa inherit */
.link {
   color: inherit; /* inherit: fuerza la herencia */
}

.list {
   color: indigo;
   font-family: Georgia, "Times New Roman", Times, serif;
}

/* si queremos deshabilitar la herencia se usa initial */
.list-item-ext {
   color: initial; /* cambia los estilos a los predeterminados de la etiqueta*/
   font-family: initial;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ejemplo del autoprefixer "https://autoprefixer.github.io" y "prepros" */

.example {
   display: grid;
   transition: all 0.5s;
   user-select: none;
   background: linear-gradient(to bottom, white, black);
}

.example {
   display: -ms-grid;
   display: grid;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(white),
      to(black)
   );
   background: -o-linear-gradient(top, white, black);
   background: linear-gradient(to bottom, white, black);
}
